.full{
	margin:0 auto;
	width: 100%;
}


/* Link */
.heading_colour{

}
.border{
	border:1px solid black;
}

.login_form input[type=email],
.login_form input[type=password],
.login_form input[type=text],
.login_form button,
.login_form a {
	max-width: 300px;
    width: 100%;
    display: block;
    margin: 5px auto;
    z-index: 1;
    position: relative;
}

.login_form button{
	background-color: #402107;
	color:white;
	border: none;
	border-radius: 5px;
	padding: 7.5px;

}

.login_form button:hover {
}

.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0px;
}

#custom-search-input{
    padding: 3px;
    background-color: #fff;

}

#custom-search-input input{
    border: 1px solid #E4E4E4;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}


#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.dateBox{
	color: #666666;
	text-align: center;
	min-height: 100px;
	border: 1px solid #E4E4E4;
	margin: 5px 0px;
	padding: 3px;
}

.roomTypeBox{
	color: #666666;
	text-align: center;
	min-height: 100px;
	margin: 5px 0px;
	padding: 3px;
}


#roomTypeButton{
	margin: 0 auto;
	min-height: 35px;
	width: 100%;
}

.banner{
	margin-top: 0px;
	background-color: #17234E;
    margin-bottom: 0;
    height: 300px;
    background-image: url("images/room1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.banner h1{
	padding-top: 105px;
	font-size: 45px;
	color: white;
}
.searchContainer{
	background-color: #666666;
}

img{
	max-height: 200px;
	max-width: 200px;
}

#bannerContainer{

}
#searchContainer{
	padding-top: 25px;
}

.thumbnail{
	margin-top: 15px;
	padding-bottom: 15px;
	border: 0;
}

.thumbnail h4{
	padding-top: 5px;
	padding-bottom: 10px;
	text-align:center;
}

.thumbnail button{
	
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	margin-top: 5px;
	border-radius: 5px;
	color: white;
}


/*About*/

iframe{
	margin: 0 auto;
	width: 100%;
	max-height: 400px;
	min-height: 300px;
}

/*Reservation*/

.reservationDropdown{
	margin-top: 10px;
	width: 100%;
	max-width: 500px;
}

#calendarContainer{
	margin-top: 10px;
	min-height: 150px;
	border: 1px solid #d3d3d3;
	color: #666666;
	width: 100%;
	max-width: 500px;
}

#searchResults{
	min-height: 400px;
	border: 1px solid black;
	margin-top: 10px;
	width: 100%;
	max-width: 500px;
	border: 1px solid #d3d3d3;
	color: #666666;
}

.bookButton{
	margin-top: 10px;
	width: 100%;
	max-width: 500px;
}

/*account*/

#reservationContainer{
	min-height: 300px;
	border: 1px solid #d3d3d3;
}

/*admin*/

#adminButton{
	width: 100%;
	max-width: 500px;
	margin-top: 10px;
}

.informationContainer{
	min-height: 400px;
	border: 1px solid #d3d3d3;
	color: #666666;
}

.manageButton{
	width: 100%;
	max-width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}
